<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Rooms</title>
    <link rel="stylesheet" href="static/stylesheet.css/style.css">

</head>
<body>
    <h1>Our Rooms</h1>

    <section>
        <h2>Single Bed Room</h2>
        <img src="static/img/room-2.jpg" alt="single_bedroom">
        <p> Price per night:Rs.8600</p>
        <p> Total rooms: 12 </p>
    </section>

    <section>
        <h2>Double Bed Room</h2>
        <img src="static/img/double bedroom.jpg" alt="Double Bed Room">
        <p>Price per night: Rs.12900</p>
        <p> Total rooms: 10 </p>
    </section>

    <section>
        <h2>Deluxe Room</h2>
        <img src="static/img/delux bedroom.jpg" alt="Deluxe Room">
        <p>Price per night: Rs.17200</p>
        <p> Total rooms: 08 </p>
    </section>

    <section>
        <h2>Suite</h2>
        <img src="static/img/suite bed room.jpg" alt="Suite">
        <p>Price per night: Rs.21500</p>
        <p> Total rooms: 10 </p>
    </section>

    <section>
        <h2>Studio</h2>
        <img src="static/img/studio_room.jpg" alt="Studio">
        <p>Price per night: Rs.10320</p>
        <p> Total rooms: 06 </p>
    </section>

    <section>
        <h2>Rooms with a View</h2>
        <img src="static/img/suite bedroom.jpg" alt="Room with a View">
        <p>Price per night: Rs.18920</p>
        <p> Total rooms: 06 </p>
    </section>

    <section>
        <h2>Villa</h2>
        <img src="static/img/villa room.jpg" alt="Villa">
        <p>Price per night: Rs.25800</p>
        <p> Total rooms: 04 </p>
    </section>

    <section>
        <h2>Pent House</h2>
        <img src="static\img\penthouse.jpg" alt="Pent House">
        <p>Price per night: Rs.30100</p>
        <p> Total rooms: 08 </p>
    </section>
</body>
</html>
